@import url(//fonts.googleapis.com/css?family=Raleway:100,200,300);

body{
    font-family: 'Raleway', sans-serif;
}

.brand{
    color:#EA5565 !important;
}

.brand i{
    font-size:70%;
}

.title{
    font-size: 40px;
    font-weight: 300;
}
.slogan{
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 50px;
}


.section {
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
    background: #fff;
}

.content{
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}
.section:nth-child(even){
    background: #eee;
    text-align: center;
}


ul.facts{
    font-size:20px;
    font-weight: 300;/*light*/
    list-style: circle outside;

}

ul.facts li{
    text-align: left;
    line-height: 50px;
}