@import "colors.less";


body{
  font-family:Helvetica, Arial, Verdana, sans-serif;
  color:#6b6b6b;
}

#content {
  padding:0;
}


#canvas {
  background-color:#FAFAFA;
  overflow:scroll;
}

#palette{
}

#editor{
}

#toolbar{
  overflow: visible;
}

#view{
  border: 1px solid #1BA1E2;
}

#title{
}


#property{
  overflow-y:scroll;
}

#configMenuIcon{
  font-size: 25px;
  cursor:pointer;
  opacity: 0.3;
  &:hover{
    opacity: 1;
    color:#ff0000;
  }
}


#figureConfigDialog{
  display:none;
  background-color:white;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  border-left: 3px solid @tintColorEdit;
  .figureAddLabel{
    font-size:14px;
    font-weight: 200;
    cursor:pointer;
    &:hover{
      color:@tintColorEdit;
    }
  }
}
