body{
  font-family:Helvetica, Arial, Verdana, sans-serif;
  color:#6b6b6b;
}

#content {
  padding:0;
}


#canvas {
  background-color:#FAFAFA;
  overflow:scroll;
}

#palette{
}

#editor{
}

#toolbar{
  overflow: visible;
}

#view{
  border: 1px solid #1BA1E2;
}

#title{
}

