
.context-menu-list {
  margin: 0;
  padding: 0;
  min-width: 120px;
  max-width: 250px;
  display: inline-block;
  position: absolute;
  list-style-type: none;
  border: 1px solid #DDD;
  background: white;
  border-left: 2px solid #1c9bab;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  white-space: nowrap;
}
.context-menu-item {
  padding: 5px 5px 5px 24px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.context-menu-separator {
  padding-bottom: 0;
  border-bottom: 1px solid #DDD;
}
.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.context-menu-item.hover {
  cursor: pointer;
  background-color: #1c9bab;
  color: white;
}
.context-menu-item.disabled {
  color: #666;
}
.context-menu-input.hover,
.context-menu-item.disabled.hover {
  cursor: default;
  background-color: #EEE;
}
.context-menu-submenu:after {
  content: ">";
  color: #666;
  position: absolute;
  top: 0;
  right: 3px;
  z-index: 1;
}
/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement
    .context-menu-item.icon:before {}
 */
.context-menu-item.icon {
  min-height: 18px;
}
.context-menu-item.icon:before {
  position: relative;
  left: -15px;
  font-size: 19px;
}
/* vertically align inside labels */
.context-menu-input > label > * {
  vertical-align: top;
}
/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
  margin-left: -17px;
}
.context-menu-input > label > span {
  margin-left: 5px;
}
.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.context-menu-input > label > textarea {
  height: 100px;
}
.context-menu-item > .context-menu-list {
  display: none;
  /* re-positioned by js */
  right: -5px;
  top: 5px;
}
.context-menu-item.hover > .context-menu-list {
  display: block;
}
.context-menu-accesskey {
  text-decoration: underline;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #6b6b6b;
}
#content {
  padding: 0;
}
#draw2dCanvasWrapper {
  background-color: #FAFAFA;
  overflow: scroll;
  box-shadow: inset 0 0 10px #000000;
}
#palette {
  background-color: #3a3f51;
  padding: 30px;
}
#toolbar {
  overflow: hidden;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding-left: 140px;
}
#toolbar button {
  color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border: 0;
  margin: 10px;
  margin-top: 55px;
  font-weight: 100;
  background-color: transparent;
  outline: none;
}
#toolbar button:hover {
  color: lightblue;
}
#toolbar .icon {
  font-size: 35px;
  padding: 0;
}
#toolbar .icon[disabled] {
  opacity: 0.1;
}
.toolbar_delimiter {
  width: 2px;
  height: 35px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  top: -15px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
.brand {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120px;
}
.highlight {
  color: #EA5565 !important;
}
.brand i {
  font-size: 70%;
}
.navbar-brand {
  padding: 15px 15px !important;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#transitions th {
  font-size: 10px;
}
#transitions input,
#transitions select {
  height: 25px;
  font-size: 11px;
}
#property {
  overflow-y: scroll;
}
#configMenuIcon {
  font-size: 25px;
  cursor: pointer;
  opacity: 0.3;
}
#configMenuIcon:hover {
  opacity: 1;
  color: #ff0000;
}
#colorDialog {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
}
#colorDialog td {
  cursor: pointer;
}
#colorDialog td:hover {
  border: 1px solid gray;
}
#figureConfigDialog {
  display: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-left: 3px solid #1c9bab;
}
#figureConfigDialog .configMenuEntry {
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
}
#figureConfigDialog .configMenuEntry:hover {
  color: #1c9bab;
}
#fileShareDialog .modal-body {
  text-align: center;
}
#fileShareDialog .modal-body .shareButton {
  height: 120px;
  min-width: 160px;
  line-height: 40px;
  border: 0;
  background: transparent;
  color: #1c9bab;
  font-weight: 100;
  margin-left: 50px;
  margin-right: 50px;
}
#fileShareDialog .modal-body .shareButton:hover .btn-circle {
  background: #1c9bab;
  color: white;
}
#copiedToClipboardMessage {
  white-space: nowrap;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: 1px solid #1c9bab;
  color: #1c9bab;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.autocomplete-wrapper {
  margin: 44px auto 44px;
  max-width: 600px;
}
.autocomplete-wrapper label {
  display: block;
  margin-bottom: .75em;
  color: #3f4e5e;
  font-size: 1.25em;
}
.autocomplete-wrapper .text-field {
  padding: 0 15px;
  width: 100%;
  height: 40px;
  border: 1px solid #CBD3DD;
  font-size: 1.125em;
}
.autocomplete-wrapper ::-webkit-input-placeholder {
  color: #CBD3DD;
  font-style: italic;
  font-size: 18px;
}
.autocomplete-wrapper :-moz-placeholder {
  color: #CBD3DD;
  font-style: italic;
  font-size: 18px;
}
.autocomplete-wrapper ::-moz-placeholder {
  color: #CBD3DD;
  font-style: italic;
  font-size: 18px;
}
.autocomplete-wrapper :-ms-input-placeholder {
  color: #CBD3DD;
  font-style: italic;
  font-size: 18px;
}
.autocomplete-suggestions {
  overflow: auto;
  border: 1px solid #CBD3DD;
  background: #FFF;
}
.autocomplete-suggestion {
  overflow: hidden;
  padding: 5px 15px;
  white-space: nowrap;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  color: #029cca;
  font-weight: normal;
}
.palette_node_element {
  width: 50px;
  margin: 5px;
  cursor: move;
}
